      <style>
            .container {
              display: flex; 
            }
            #roundedbox1 {
              position: absolute;
              top: 60%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 30px;
              background: #004C99;
              padding: 25px;
              width: 650px;
              height: 475px;
              margin-right: 10%;
             }
            #roundedbox2{
              border-radius: 25px;
              background: #004C99;
              padding: 20px;
              width: 800px;
              height: 300px;
              margin: 0px;
            }
            header {
              position: absolute;
              top: 10%;
              Left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 25px;
              background: #004C99;
              padding: 70px;
              width: 625px;
              height: 0px;
              margin: 0px;
              color: #FFF;
              text-align: center;
              font-family: Arial, sans-serif;
            }
            body {
              background-color: #8DBEEF;
              margin: 1px;
              padding: 10px;
            }            
            ol{
              position: absolute;
              top: 20%;
              left: 50%;
              transform: translate(-50%, 90%);
              margin: 10px;
              padding: 0px;
              display: flex;
             }
            ol li {
              list-style: none;
              font-family: sans-serif;
              font-size: 1em;
              letter-spacing: 3px;
              margin: 0px;
              padding: 5px;
              text-shadow: none;
              animation: animate 14s infinite linear;
             }
            ul{
              position: absolute;
              top: 7%;
              left: 50%;
              transform: translate(-50%, 38%);
              margin: 0;
              padding:0;
              display: flex;
            }
            ul li{
              list-style: none;
              font-family: sans-serif;
              font-size: 3em;
              letter-spacing: 11px;
              text-shadow: none;
              animation: animate 13.8s infinite linear;
            }
            @keyframes animate{
              0%{
                color: #0048b3;
                text-shadow: none;
              } 
              20%{
                color: #1f8cf0;
                text-shadow: 0 0 7px #1f8cf0, 0 0 20px #89c4f4;
              }
              30%{
                color: #0048b3;
                text-shadow: none;
              }
              35%{
                color: #1f8cf0;
                text-shadow: 0 0 7px #1f8cf0, 0 0 20px #89c4f4;
              }
              70%{
                color: #0048b3;
                text-shadow:none;
              }
              85%{
                color: #1f8cf0;
                text-shadow: 0 0 7px #1f8cf0, 0 0 20px #89c4f4;
              }
              90%{
                color: #0048b3;
                text-shadow: none;
              }
              100%{
                color: #0048b3;
                text-shadow: none;
              }
            }
            ul li:nth-child(1){
              animation-delay: .2s;
            }
            ul li:nth-child(2){
              animation-delay: .4s;
            }
            ul li:nth-child(3){
              animation-delay: .6s;
            }
            ul li:nth-child(4){
              animation-delay: .8s;
            }
            ul li:nth-child(5){
              animation-delay: 1s;
            }
            ul li:nth-child(6){
              animation-delay: 1.2s;
            }
            ul li:nth-child(7){
              animation-delay: 1.4s;
            }
            ul li:nth-child(8){
              animation-delay: 1.6s;
            }
            ul li:nth-child(9){
              animation-delay: 1.8s;
            }
            ul li:nth-child(10){
              animation-delay: 2s;
            }
            ul li:nth-child(11){
              animation-delay: 2.2s;
            }
            ul li:nth-child(12){
              animation-delay: 2.4s;
            }
            ul li:nth-child(6),
            ul li:nth-child(7)
             {
              margin-right: 22px;
            }
      </style>
